
	
<!-- LSTM -->
<p></p>
<p></p>
<h2 class="w3-left-align w3-padding-small"><span>LSTM</span></h2>
<p></p>
<p>The Long Short Term Memory (LSTM) funtion was trained on several tickers to estimate the highest and lowest price within the next 15 trading days based on the recent trading prices.  It will also produce a buy/sell recomendation.</p>
<h5>Required: Base URL</h5>
<p style="padding-left:20px">Base URL:  "http://site/query?"</p>
<h5>Required: Function Name</h5>
<p style="padding-left:20px">Function Name:  "function=LSTM"</p>
<h5>Required: Ticker</h5>
<p style="padding-left:20px">Stock Ticker Symbol (i.e. "symbol=A")</p>
<h5>Optional: Date to Predict</h5>
<p style="padding-left:20px">Date in MM-DD-YYYY format (i.e. "date=01-01-2021")</p>