<p></p>
<p></p>
<h2 class="w3-left-align w3-padding-small"><span>Raw Data</span></h2>
<p></p>
<p>The Raw Data function returns the daily open, high, low, close, and volume of the selected ticker symbol.  If the extended option is selected, then the additional indicators and buy/sell triggers are returned as well.</p>
<h5>Required: Base URL</h5>
<p style="padding-left:20px">Base URL:  "http://site/query?"</p>
<h5>Required: Function Name</h5>
<p style="padding-left:20px">Function Name:  "function=raw"</p>
<h5>Required: Ticker</h5>
<p style="padding-left:20px">Stock Ticker Symbol (i.e. "symbol=A")</p>
<h5>Optional: Extended Dataset</h5>
<p style="padding-left:20px">Whether or not to return the additional indicators and triggers (i.e. "extended=True")</p>


<div class="w3-panel w3-leftbar w3-light-grey">
  <p><i>Full request: </i></p>
  <p><i>http://site/query?function=raw&symbol=A&extended=true</i></p>
</div>