<!-- Links (sit on top) -->
<div class="w3-top">
  <div class="w3-row w3-padding w3-black">
    <div class="w3-col s20">
      <a href="{{ url_for('index')}}" class="w3-button w3-block w3-black">HOME</a>
    </div>
    <div class="w3-col s20">
      <a href="{{ url_for('lstm')}}" class="w3-button w3-block w3-black">LSTM</a>
    </div>
    <div class="w3-col s20">
      <a href="{{ url_for('arima')}}" class="w3-button w3-block w3-black">ARIMA</a>
    </div>
    <div class="w3-col s20">
      <a href="{{ url_for('tree')}}" class="w3-button w3-block w3-black">REGRESSION TREE</a>
    </div>
    <div class="w3-col s20">
      <a href="{{ url_for('linear')}}" class="w3-button w3-block w3-black">LINEAR REGRESSION</a>
    </div>
    <div class="w3-col s20">
      <a href="{{ url_for('update')}}" class="w3-button w3-block w3-black">UPDATE DATABASE</a>
    </div>
    <div class="w3-col s20">
      <a href="{{ url_for('raw')}}" class="w3-button w3-block w3-black">RAW DATA</a>
    </div>
  </div>
</div>