
<h2 class="w3-left-align w3-padding-small"><span>Update Database</span></h2>
<p></p>
<p>The "Update Database" funtion will update the data of a particular stock.  The source of the data has a limit of 5 calls per minute and 500 calls per day.  If the stock symbol has data through the most recent trading day, then this funciton will not update the ticker.  This function will aslo calculate several triggers and indicators associated with the ticker symbol.</p>
<h5>Required: Base URL</h5>
<p style="padding-left:20px">Base URL:  "http://site/query?"</p>
<h5>Required: Function Name</h5>
<p style="padding-left:20px">Function Name:  "function=update"</p>
<h5>Required: Ticker</h5>
<p style="padding-left:20px">Stock Ticker Symbol (i.e. "symbol=A")</p>


<div class="w3-panel w3-leftbar w3-light-grey">
  <p><i>Full request: </i></p>
  <p><i>http://site/query?function=update&symbol=A</i></p>
</div>